form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0px;

  .forgot-password {
    margin-bottom: 1rem;
  }

  input[type="email"],
  input[type="password"] {
    padding: 0.5rem 1rem;
    border: solid 2px #bdbcbb;
    border-radius: 3px;
    outline: transparent;
    margin-bottom: 10px;
    margin-top: 0.3rem;
    border-radius: 6px;
    font-size: 1.1rem;
    &:focus {
      border-color: #6d28d9;
      box-shadow: 0 0 2px #6d28d9;
    }
  }
  input[type="submit"] {
    background-color: #8b5cf6;
    color: antiquewhite;
    font-weight: bold;

    padding: 1rem;
    outline: transparent;
    border: transparent;
    border-radius: 6px;

    &:hover {
      background-color: #2e1065;
    }
    &:active {
      background-color: #4c1d95;
    }
  }
  a {
    align-self: flex-end;
    padding-bottom: 20px;
  }
}
